# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# env
.env
.env.local

# macOS
.DS_Store

# Android/IOS
android/
ios/

# IDE
.vscode/
.idea/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
